<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DYMO.Connect.SDK" version="1.4.2.26" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.4" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net48" />
  <package id="SkiaSharp.Views" version="1.68.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
</packages>